.main-weather-section .inner.fake{
    padding: 3rem 0 0;
}

.weather-details .fake-p{
    width:10rem;
    height:1rem;
    margin: .5rem 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    background: linear-gradient(90deg, var(--l0-elevation) 25%,var(--l3-elevation) 50%, var(--l0-elevation) 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite ease-in-out;
    -webkit-animation: loading 1.5s infinite ease-in-out;
}

.weather-details .fake-h1{
    width:6rem;
    height:6rem;
    margin: .5rem 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: linear-gradient(90deg, var(--l0-elevation) 25%,var(--l3-elevation) 50%, var(--l0-elevation) 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite ease-in-out;
    -webkit-animation: loading 1.5s infinite ease-in-out;
}

.other-weather-info .fake-circle{
    width:4rem;
    height:4rem;
    margin: .5rem 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: linear-gradient(90deg, var(--l0-elevation) 25%,var(--l3-elevation) 50%, var(--l0-elevation) 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite ease-in-out;
    -webkit-animation: loading 1.5s infinite ease-in-out;
}

.other-weather-info .fake-circle-heading{
    width:3rem;
    height:.8rem;
    margin: .1rem 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    background: linear-gradient(90deg, var(--l0-elevation) 25%,var(--l3-elevation) 50%, var(--l0-elevation) 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite ease-in-out;
    -webkit-animation: loading 1.5s infinite ease-in-out;
}

.other-weather-info .fake-circle-desc{
    width:4rem;
    height:.4rem;
    margin: .2rem 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    background: linear-gradient(90deg, var(--l0-elevation) 25%,var(--l3-elevation) 50%, var(--l0-elevation) 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite ease-in-out;
    -webkit-animation: loading 1.5s infinite ease-in-out;
}

.added-countries .fake-button{
    width:5rem;
    height:1rem;
    margin: .5rem 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    background: linear-gradient(90deg, var(--l0-elevation) 25%,var(--l3-elevation) 50%, var(--l0-elevation) 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite ease-in-out;
    -webkit-animation: loading 1.5s infinite ease-in-out;
}