.inner .search{
    border:none;
    background-color: transparent;
    display: block;
    margin: 0 0 0 auto;
}

.main-weather-section .search-icon{
    width: 2rem;
}

.search-icon g path{
    stroke: var(--text-primary);
}