main{
    background-repeat: no-repeat;
    background-size: 70%;
    background-color: var(--l1-elevation);
}

main.blue{
    background-image: url("../../assets/icons/blue-glow.svg");
}

main.red{
    background-image: url("../../assets/icons/red-glow.svg");
}

main.gray{
    background-image: url("../../assets/icons/grey-glow.svg");
}

main .main-weather-section{
    border-bottom: 1px solid var(--border-color);
    padding: 2rem 0 0;
}

.inner{
    width:90%;
    margin:auto;
}

.forecast-container{
    border-bottom: 1px solid var(--border-color);
    padding: 0 0 .5rem 0;
}