main{
    background-image: url("../../assets/icons/blue-glow.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

main .main-weather-section{
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
    padding: 2rem 0 0;
}

.inner{
    width:90%;
    margin:auto;
}