main{
    background-image: url("../../assets/icons/blue-glow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--l1-elevation);
}

main .main-weather-section{
    border-bottom: 1px solid var(--border-color);
    padding: 2rem 0 0;
}

.inner{
    width:90%;
    margin:auto;
}