@font-face {
    font-family: ttf;
    src: url("./assets/font/ttf.ttf");
}

@font-face {
    font-family: ttf-bold;
    src: url("./assets/font/ttf-bold.ttf");
}

@font-face {
    font-family: ttf-medium;
    src: url("./assets/font/ttf-medium.ttf");
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ttf;
}

html{
    font-size: 62.5%;
}

body{
    width:38rem;
}

:root{
    --text-primary :#000000 ;
    --text-secondary :#414141 ;

    --l0-elevation:#fafafa ;
    --l1-elevation: #ffffff;
    --l3-elevation : #eeeeee;
    
    --border-color : #00000013;

    /* --text-primary :#ffffff ;
    --text-secondary :#cbcbcb ;
    

    --l0-elevation:#181818 ;
    --l1-elevation: #292929 ;
    --l3-elevation : #393939;
    
    --border-color : #dddddd13; */
}

button{
    cursor: pointer;
}